:root{
    --Logo-Green : #38A42C;
    --Light-Green: #56bb4b;
    --Lighter-Green: #82D679;
    --Accent-Red: #E13026;
    --Accent-Gold: #FFBF00;
    /* --Text-Font: 'Muli', sans-serif; */
    --Text-Font: 'Noto Serif', serif;
    /* --Title-Font:'Arbutus Slab', serif; */
    --Title-Font:'Prata', serif;
    --BG-Color: #FEFEFA;
  }

.contactFormTitle{
    font-family: var(--Title-Font);
    font-size: 3em;
    /* font-weight: bold; */
    /* color: rgb(94, 94, 94); */
    /* color: var(--Logo-Green); */
    
}

.contactFormText{
    font-family: var(--Title-Font);
    font-size: 1.5em;
}

#contactFormText{
    /* color: var(--Logo-Green); */
    font-family: var(--Title-Font);
    font-size: 1.25em;
    /* font-weight: bold; */
}


#contactHeaderContainer{
    /* background-color: rgb(61, 61, 61); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(180deg, #414345 , #232526); */
    background-image: url(../images/contactImage.png);
    border-bottom: lightgrey solid 1px;
}


#Ela{
    background-color: var(--BG-Color);
    background-image: url(../images/elac.png);
    background-size: 100%;
}

#Bell{
    background-color: var(--BG-Color);
    background-image: url(../images/bellgardens.png);
    background-size: 100%;
}

.contactFormContainer{
    /* background-image: url(../images/bg-blue-1200.png); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #EEF7FF;     */
}

#contact-form{
    /* background-color: white; */
    /* background-image: url(../images/bg-green.png); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
}

#Follow{
    background-image: url(../images/bg-social.png);
    background-size: cover;
}

.contactHeaderTitle{
    /* font-family: 'Dancing Script', cursive; */
    font-family: var(--Title-Font);
    font-size: 3.5em;
    /* color: var(--Logo-Green); */
    /* border: rgb(4, 158, 68) solid 2px; */
    /* text-shadow: 2px 2px 4px rgb(100, 100, 100); */
    /* font-weight: bold; */
}

.contactHeaderHello{
    /* font-family: 'Dancing Script', cursive; */
    font-family: var(--Title-Font);
    font-size: 6em;
    /* color: var(--Logo-Green); */
    /* border: rgb(4, 158, 68) solid 2px; */
    /* text-shadow: 2px 2px 4px rgb(100, 100, 100); */
    /* font-weight: bold; */
}

.locationsContainer{
    
}

.contactInfo{
    /* background-color: white; */
    /* background-image: linear-gradient(180deg, var(--Logo-Green) , rgb(39, 163, 86)); */
    border-top: var(--Logo-Green) solid 10px;
    /* background-color: rgb(68, 68, 68); */
}


.contactImgs{
    max-width: 100%;
    height: auto;
}

.contactsTitle{
    font-family: var(--Title-Font);
    font-size: 2em;
}

.contactsText{
    font-family: var(--Text-Font);
    font-size: 1.1em;
}


.firstContainer{
    width: 400px;
    /* background-color: var(--BG-Color); */
    background-image: url(../images/map4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.elac{
    width: 150px;
}
.secondContainer{
    width:400px;
    /* background-color: var(--BG-Color); */
    background-image: url(../images/map4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

  .thirdContainer{
    width:400px;
    /* background-color: var(--BG-Color); */
    /* background-image: url(../images/map3.jpg); */
  }

  .learnMoreTitle{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.25em;
  }

  .learnMoreText{
    font-family: var(--Text-Font);
    font-weight: bold;

  }
