:root {
  --Logo-Green: #38a42c;
  --Light-Green: #56bb4b;
  --Lighter-Green: #82d679;
  --Accent-Red: #e13026;
  --Accent-Gold: #ffbf00;
  --Text-Font: "Noto Serif", serif;
  --Title-Font: "Prata", serif;
  --BG-Color: #fefefa;
}

/* image sliders */

.control-arrows {
  z-index: 15;
}

#topImg {
  width: 100%;
  height: auto;
}

#chevron {
  width: 55px;
}

#chevronText {
  font-family: var(--Title-Font);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

#donationsHeaderTitle {
  font-family: var(--Title-Font);
  font-size: 3em;
  font-weight: bold;
}

.donationsHeaderText {
  font-family: var(--Title-Font);
  font-weight: bold;
  font-size: 1.75em;
  margin: 0 4px 0 4px;
  padding: 0 2px 0 2px;
}

#heart {
  max-width: 100px;
}

#donationTopButton {
  margin-bottom: 0;
  margin-top: 30px;
}

.paypal {
  width: 90px;
}

.quoteText {
  font-family: var(--Title-Font);
  font-size: 1.25rem;
}

.quoteContainer-green {
  background-color: #19a974;
}

.quoteContainer-blue {
  background-color: rgb(70, 150, 255);
}

.quoteContainer-red {
  background-color: #e85a4f;
}

#whyDonateImg {
  max-width: 100%;
  height: auto;
}

#whyDonateTitle {
  font-family: var(--Title-Font);
  font-size: 2.5em;
}

.peopleSectionTitle {
  font-family: var(--Title-Font);
  font-size: 2.5em;
  border-bottom: black solid 1px;
  border-top: var(--Logo-Green) solid 1px;
}

.peopleSectionText {
  font-family: var(--Text-Font);
}

.firstContainer {
  width: 400px;
  height: 300px;
  background-image: url(../images/bg-green.png);
}

.secondContainer {
  width: 400px;
  height: 300px;
  background-image: url(../images/bg-red.png);
}

.thirdContainer {
  width: 400px;
  height: 300px;
  background-image: url(../images/bg-amber.png);
}

.learnMoreTitle {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 2rem;
}

.learnMoreText {
  font-family: var(--Text-Font);
}

#backToTop {
  font-family: var(--Title-Font);
  font-size: 1.2em;
}

.dancingFont {
  font-family: "Dancing Script", cursive;
}

/* ------------------------------------------ */

/* -------------- MEDIA QUERIES ------------- */

/* ------------------------------------------ */

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .quoteText {
    font-family: var(--Title-Font);
    font-size: 1.75rem;
  }
}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}