:root {
    --Logo-Green: #38a42c;
    --Light-Green: #56bb4b;
    --Lighter-Green: #82d679;
    --Accent-Red: #e13026;
    --Accent-Gold: #ffbf00;
    --Text-Font: "Noto Serif", serif;
    --Title-Font: "Prata", serif;
    --BG-Color: #fefefa;
}

.carousel {
    font-family: var(--Title-Font);
}

.carousel-overlay-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 10;
}

.carousel-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 9;
    color: #fff;
    text-align: center;
    background-color: black;
    opacity: 0.35;
}

.control-arrows {
    z-index: 15;
}

#carousel-Title-Text {
    font-size: 3em;
    font-family: var(--Title-Font);
    /* color: var(--Light-Green); */
}

.gallery-header-link {
    /* color: var(--Light-Green); */
    font-family: var(--Text-Font);
    font-size: 1.1em;
    font-weight: bold;
}

.gallery-text {
    font-family: var(--Text-Font);
}

#caption-Container {
    height: 95%;
}

.caption-title {
    text-shadow: 2px 2px 2px black;
}

.caption-text {
    text-shadow: 2px 2px 2px black;
}

.youTubeLink {
    font-family: var(--Title-Font);
    font-size: 2.5em;
}

.youTubeImg {
    width: 40px;
}

.desi-img {
    max-width: 100%;
    height: auto;
}

.image-text {
    font-family: var(--Text-Font);
    color: darkgray;
}

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    #carousel-Title-Text {
        font-size: 3em;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #carousel-Title-Text {
        font-size: 4.5em;
    }
    .caption-title {
        font-size: 4.5em;
    }
    .caption-text {
        font-size: 1.25em;
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #carousel-Title-Text {
        font-size: 6em;
    }
    .caption-title {
        font-size: 6em;
    }
    .caption-text {
        font-size: 1.5em;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

@media (min-width: 1600px) {}