:root{
    --Logo-Green : #38A42C;
    --Light-Green: #56bb4b;
    --Lighter-Green: #82D679;
    --Accent-Red: #E13026;
    --Accent-Gold: #FFBF00;
    --Text-Font: 'Noto Serif', serif;
    --Title-Font:'Prata', serif;
    --BG-Color: #FEFEFA;
  }

.carousel{
    font-family: var(--Title-Font);
}

#carousel-Title-Text{
    font-size: 3em;
    font-family: var(--Title-Font);
    /* color: var(--Logo-Green); */
}

.gallery-text{
    font-family: var(--Text-Font);
}

#caption-Container{
    height: 95%;
}

.youTubeLink{
    font-family: var(--Title-Font);
    font-size: 3em;
}

.youTubeImg{
    width: 40px;
}

.desi-img {
    max-width: 100%;
    height: auto;
}

.image-text {
    font-family: var(--Text-Font);
    color: darkgray
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #carousel-Title-Text{
        font-size: 3em;
    }
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #carousel-Title-Text{
        font-size: 4.5em;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #carousel-Title-Text{
        font-size: 6em;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (min-width: 1600px) {

}