/* CSS VARIABLES */
:root{
    --Logo-Green : #38A42C;
    --Light-Green: #56bb4b;
    --Lighter-Green: #82D679;
    --Accent-Red: #E13026;
    --Accent-Gold: #FFBF00;
    /* --Text-Font: 'Muli', sans-serif; */
    --Text-Font: 'Noto Serif', serif;
    --Title-Font:'Prata', serif;
    --BG-Color: #FEFEFA;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}





/* ------------------------------------- */
/* -------------- NAVBAR --------------- */
/* ------------------------------------- */

nav{
    z-index: 1000;
}
.socialImageNavx{
    height: 25px;
    width: 25px;
    margin: 2px 4px 2px 4px;
}

.navbarText{
    font-family: var(--Title-Font);
}

.navbarLogo{
    color: var(--Logo-Green);
    font-size: 1.25em;
    /* font-weight: bolder; */
    margin-right: 5px;
}
.navBarLogoImg{
    height: 50px;
    width: 50px;
    margin: 0 5px 0 0;
}

.navbarLogo:hover{
    color: var(--Logo-Green);
}

.navLinks{
    margin: 5px 0 0 0;
    font-size: .9em;
}

#navbarNavDropdown a:hover{
    color: dimgray;
}

#navbarNavDropdown a{
    color: black;
}

#navbarNavDropdown a button{
    color: black;
    /* font-size: 1em; */
}



/* ------------------------------------- */
/* -------------- FOOTER --------------- */
/* ------------------------------------- */


.content {
    flex: 1 0 auto;
}

.goldText{
    color: goldenrod;
}

#emailHelp a{
    display: inline-block;
    font-style: italic;
    font-weight: bold; 
}

.formInputText{
    color: rgb(36, 36, 36);
    font-weight: bold;
}

.footerText{
    margin-bottom: .5em;
}

.footerWhiteText{
    font-family: var(--Text-Font);
    color: white;
}

.footerWhiteTitle{
    font-family: var(--Title-Font);
    color: white;
    border-bottom: #38A42C solid 1px;
}

.formTopContainer{ 
    margin: 0;
    padding: .15em 1.25em .15em 1.25em;
    background-image: linear-gradient(  var(--Light-Green), var(--Light-Green));
}

#formContainer{
    background-size: 100% auto;
    box-shadow: 3px 3px 4px lightgray;
    margin-bottom: 3.25em;
    margin-top: 5.25em;
    padding: 0 0 35px 0;
    background-color: var(--BG-Color);
    border: rgb(233, 233, 233) solid 1px;
}
#Check1{
    margin-left: .15em;
}

#checkAgree{
    margin-left: 1.25em;
}

.footerCenterContainer{
    background-image: linear-gradient( #2D3436, #0f0f0f);
}

.footerContainers{
    padding-bottom: 1.25em;
    padding-top: 1.25em;
}

#bellLocation{
    padding: 1em 0 0 0;
}

#copyrightFooter{
    background: black;
    height: 50px;
    color: white;
    padding: 0;
    margin: 0;
}

#copyright{
    font-size: .75em;
    padding: 10px 0 0 0;
}


#formTitle{
    font-size: 2.25em;
    font-family: var(--Title-Font);
    color: white;
    margin-bottom: 0px;
}

#formText{
    font-size: 1.5em;
    font-family: var(--Title-Font);
    color: #2D3436;
    font-weight: 500;
    padding: 25px 0 20px 0;
    margin-bottom: 25px;
    border-bottom: lightgrey solid 1px;
}

#bgLogo2{
    position: fixed;
    top: 0;
    right: 0;
    z-index: -999;
  }

  /* *{
      border: red solid 1px;
  } */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #bgLogo2 img{
        display: none;
      }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #formTitle{
        font-size: 3em;
    }
    #formText{
        font-size: 2em;
    }
    .navbarLogo{
        font-size: 1em;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbarLogo{
        font-size: 1.5em;
    }
    .socialImageNavx{
        height: 30px;
        width: 30px;
        margin: 2px 6px 2px 6px;
    }
    .navLinks{
        margin: 5px 0 0 0;
        font-size: 1em;
    }
    #formText{
        font-size: 2em;
        font-weight: 500;
    }
}

@media (min-width: 1600px) {
}